@use "layout" as *;
@use "spacing" as *;
@use "typography" as *;

:root {
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsla(0, 0%, 0%, 15%);
}

body {
    color: var(--veryDarkBlue);
    display: flex;
    justify-content: center;
    font-family: "Kumbh Sans", sans-serif;
    font-size: $fs-base;
    height: 100vh;
}

.container {
    position: relative;
    width: 23.438rem;

     &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        inset: 0;
        opacity: 0;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 1;
    }
  
    &.dimmed::before { opacity: 1; }
}

img {
    display: block;
    height: auto;
    width: 100%;
}

li { list-style-type: none; }
/*-- BUTTONS--*/
button {
    border: none;
    background-color: transparent;
    font: inherit;
    display: inline-flex;

    &.primary-btn {
        justify-content: center;
        padding: $sp-4;
        background-color: var(--orange);
        border-radius: 0.6rem;
        font-weight: 700;
        width: 100%;
    }
}

/*-- HEADER--*/
.header {
    flex-direction: row;
    justify-content: space-between;
    padding: $sp-4 $sp-5;

    .header-left, .header-right {
        align-items: center;
        flex-direction: row;
        gap: $sp-4;
    }

    .logo { width: 8.5rem; }
    
    .avatar-image { width: clamp(1.75rem, 3vw, 3rem); }
    
    #cart-btn {
        position: relative;
        fill: var(--darkGrayishBlue);
        padding: 0.375rem;

        #cart-badge {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            color: var(--white);
            font-size: 0.688rem;
            padding: 0rem 0.4rem;
            border-radius: 1.5rem;
            background-color: var(--orange);

            &.active {
                display: block;
            }
        }
    }
}

.divider { display: none;}

/*-- NAVIGATION--*/
nav {
    align-items: flex-start;
    background-color: var(--white);
    fill: var(--darkGrayishBlue); // For svgs
    gap: 2.5rem;
    height: 100vh;
    left: 0;
    padding: $sp-5 $sp-5 $sp-0 $sp-5;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 67%;
    z-index: 2;

    &.active {
        visibility: visible;
    }

    .nav-links {
        gap: $sp-6;
    
        a {
            color: inherit; 
            font-size: $fs-md;
            font-weight: 700;
            text-decoration: none;
        }
    }
}

/*-- CAROUSEL--*/
.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;

    .carousel-slides { flex-direction: row; transition: transform 0.4s ease; }

    .carousel-thumbnails {
        display: none;
    }

    .slide {
        flex-shrink: 0;
        width: 100%;
        
        img {
            height: 18.75rem;
            object-fit: cover;
        }
    }

}

.carousel-button {
    align-items: center;
    background-color: var(--white);
    border-radius: 100%;
    margin-inline: $sp-4;
    padding: $sp-3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;

    &.next { right: 0rem; }

    &.prev { left: 0rem; }
}

.lightbox {
    display: none;
}

/*-- PRICING--*/
.product-prices {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .discount-info {
        align-items: center;
        flex-direction: row;
        gap: 1rem;

        strong { font-size: 1.875rem; }
    }

    .percentage {
        background-color: black;
        border-radius: 0.25rem;
        color: var(--white);
        padding: $sp-1 $sp-3;
        font-size: $fs-sm;
        font-weight: 700;
    }
    
    .original-price {
        color: var(--darkGrayishBlue);
        font-weight: 700;
    }
}

.product-content {
    padding: $sp-5;
    gap: $sp-5;

    .label {
        color: var(--darkGrayishBlue);
        text-transform: uppercase;
        font-size: $fs-xs;
        font-weight: 700;
        letter-spacing: 0.12rem;
    }

    .product-details {
        gap: clamp(1rem, 3vw, 2rem);

        div {
            gap: clamp(0.75rem, 3vw, 1rem);
        }

        h1 {
            margin-inline-end: 2rem;
            font-size: clamp(1.75rem, 3vw, 2.625rem);
            line-height: clamp(2rem, 3vw, 3rem);
        }
    }

    .product-description {
        color: var(--darkGrayishBlue);
        font-size: 0.938rem;
        line-height: 1.6rem;
    }
}

/*-- COUNTER--*/
.counter {
    border: none;
    border-radius: 0.6rem;
    background-color: var(--lightGrayishBlue);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $sp-1 $sp-2;
    width: 100%;
    font-weight: 700;

    button {
        padding: $sp-4;
    }
}

form {
    gap: $sp-4;
}

#add-to-cart {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    color: inherit;
    box-shadow: 0.1rem 0.5rem 1rem rgba(255, 125, 26, 0.5);
}

/*-- FILLED AND EMPTY--*/

.basket {
    display: none;
    position: absolute;
    background-color: var(--white);
    border-radius: 0.5rem;
    transform: translateX(2%) translateY(5%);
    z-index: 10;
    width: 22.5rem;
    box-shadow: 0 0.5rem 1rem var(--black);
    height: 15.5rem;

    h2 {
        font-size: $fs-base;
        line-height: 1.5rem;
        padding: $sp-4 $sp-5 $sp-0;
    }

    hr {
        background-color: var(--grayishBlue);
        border: none;
        height: 0.005rem;
        padding-inline: 2rem;
        margin-block: $sp-5 $sp-2;
        width: auto;
    }

    div:first-child {
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .cart-item, .empty-message {
        display: none;
        color: var(--darkGrayishBlue);
        line-height: 1.5rem;  
        gap: $sp-5;
        padding: $sp-4 $sp-5 $sp-6;

        strong {
            color: black;
        }

        img {
            width: 3rem;
            border-radius: 0.25rem;
        }

        &.active {
            display: flex;
        }
    }

    .empty-message {
        display: none;
        justify-self: center;
        font-weight: 700;
    
        &.active {
            display: flex;
        }
    }
}


.basket.active {
    display: block;
}

/*-- DESKTOP DEVICE --*/
@media screen and (min-width: 48rem) {

    .container { 
        display: grid;
        grid-template-rows: 7rem 0.063rem auto;
        grid-template-areas: 
        "header header"
        "divider divider"
        "main main";
        position: relative; 
        width: 68rem; 
    }

    .header { 
        grid-area: header; 
        padding: $sp-0;

        .navigation-button { display: none; }

        .header-left { gap: 3rem; }


        .nav-links {
            flex-direction: row;
            height: 100%;

            li {
                align-content: center;
                border-bottom: 0.25rem solid var(--orange);
            }
            
            a {
                font-weight: 400;
                font-size: 0.938rem;
            }
        }

        nav {
            width: auto;
            visibility: visible;
            background-color: transparent;
            position: static;
            height: 100%;
            padding: $sp-0;

            .close-btn {
                display: none;
            }
        }
    }

    main {
        display: grid;
        grid-area: main;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 5rem;
        margin: 1rem;
    }

    .divider {
        grid-area: divider;
        display: block;
        border: none;
        height: 0.063rem;
        background-color: var(--grayishBlue);
    }

    .product-container {
        padding: 1.5rem;
        .carousel {
            gap: $sp-6;

            .carousel-thumbnails {
                display: flex;
                flex-direction: row;
                gap: $sp-5;
            }

            .carousel-slides {
                border-radius: 0.75rem;
            }

            img {
                border-radius: 0.75rem;
                height: 100%;
            }

            .carousel-button {
                display: none;
            }
        }
    }

    .product-content {
        padding: 1.5rem;
        .product-prices {
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
            gap: $sp-3;
            margin-bottom: 1rem;
        }
    }

    .form {
        flex-direction: row;

        .counter {
            width: 55%;
        }
    }

    .basket {
        right: -3rem;
        top: 5rem;
    }
}