@use "layout" as *;
@use "spacing" as *;
@use "typography" as *;

:root {
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsla(0, 0%, 0%, 0.75);
}

@mixin color($color: var(--black)) {
    content: "";
    background-color: $color;
    inset: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

body {
    color: var(--veryDarkBlue);
    display: flex;
    justify-content: center;
    font-family: "Kumbh Sans", sans-serif;
    font-size: $fs-base;
    min-height: 100vh;

    &::before { @include color; }
    &.dimmed::before { opacity: 1; }
}

.container {
    position: relative;
    width: clamp(23.438rem, 100vw, 71rem);
}

img {
    display: block;
    height: auto;
    width: 100%;
}

li { list-style-type: none; }

button, .thumbnail, .nav-links, .avatar-image, .carousel-slides { cursor: pointer; }

.hidden { display: none; }

/*-- BUTTONS--*/
button {
    background-color: transparent;
    border: none;
    display: inline-flex;
    font: inherit;

    &.primary-btn {
        background-color: var(--orange);
        border-radius: 0.6rem;
        font-weight: 700;
        justify-content: center;
        padding: $sp-4;
        width: 100%;

        &:hover { background-color: var(--paleOrange); }
    }
}

/*-- HEADER--*/
.header {
    flex-direction: row;
    justify-content: space-between;
    padding: $sp-4 $sp-5;

    .header-left, .header-right {
        align-items: center;
        flex-direction: row;
    }
}
.logo  { margin-bottom: 0.25rem; }

.header-left { gap: clamp(1rem, 4vw, 3.5rem); }

.header-right { gap: clamp(1rem, 3vw, 2.5rem); }

.avatar-image { 
    width: clamp(1.5rem, 4vw, 3rem); 

    &:hover {
        border-radius: 50%;
        border: 0.1rem solid var(--orange);
        cursor: pointer;
    }
} 

.cart-icon {
    fill: var(--darkGrayishBlue);
    padding: $sp-2;
    position: relative;
}

.cart-badge {
    background-color: var(--orange);
    border-radius: 1.5rem;
    color: var(--white);
    font-size: 0.688rem;
    padding: $sp-0 0.4rem;
    position: absolute;
    right: 0;
    top: 0;

    &.active {
        display: block;
    }
}

/*-- NAVIGATION--*/
nav {
    align-items: flex-start;
    background-color: var(--white);
    fill: var(--darkGrayishBlue);
    gap: 2.5rem;
    height: 100vh;
    left: 0;
    padding: $sp-5 $sp-5 $sp-0 $sp-5;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 67%;
    z-index: 2;

    &.active { visibility: visible; }
}

.nav-links {
    align-content: center;
    gap: $sp-6;
    
    a {
        color: inherit; 
        font-size: $fs-md;
        font-weight: 700;
        text-decoration: none;
    }
}

/*-- CAROUSEL--*/
.main-carousel {
    gap: clamp(0rem, 3vw, 2rem);
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}

.carousel-buttons {
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    height: clamp(2.5rem, 5vw, 3.5rem);
    justify-content: center;
    margin-inline: $sp-4;
    padding: $sp-3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: clamp(2.5rem, 5vw, 3.5rem);
    &.next { right: 0; } &.prev { left: 0; }
}

.carousel-slides {
    border-radius: 0.5rem;
    flex-direction: row; 
    transition: transform 0.3s ease; 
    height: clamp(18.75rem, 50vw, 28rem);

}

.slide {
    flex-shrink: 0;
    width: 100%;
        
    img {
        height: 100%;
        object-fit: cover;
    }
}

/*-- LIGHTBOX--*/
.lightbox {
    display: none;
    &.active {
        align-items: flex-end;
        display: flex;
        gap: $sp-4;
        inset: 0;
        justify-content: center;
        margin: auto;
        padding: $sp-5;
        position: absolute;
        width: 50%;
        z-index: 2;
    }

    .carousel-slides {
        height: auto;
    }

    .carousel-thumbnails {
        align-self: center;
        margin-top: $sp-4;
        width: 80%;
    }

    .carousel-buttons { display: flex; }
}

/*-- PRICING--*/
.product-prices {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .discount-info {
        align-items: center;
        flex-direction: row;
        gap: $sp-4;

        strong { font-size: 1.875rem; }
    }

    .percentage {
        background-color: black;
        border-radius: 0.25rem;
        color: var(--white);
        padding: $sp-1 $sp-3;
        font-size: $fs-sm;
        font-weight: 700;
    }
    
    .original-price {
        color: var(--darkGrayishBlue);
        font-weight: 700;
    }
}

.product-content {
    padding: $sp-5;
    gap: $sp-5;

    .label {
        color: var(--darkGrayishBlue);
        text-transform: uppercase;
        font-size: clamp(0.75rem, 3vw, 0.813rem);
        font-weight: 700;
        letter-spacing: 0.12rem;
    }
}

.product-details {
    gap: clamp($sp-4, 3vw, 2rem);

    div {
        gap: clamp(0.75rem, 3vw, 1rem);
    }

    h2 {
        margin-inline-end: 2rem;
        font-size: clamp(1.75rem, 3vw, 2.75rem);
        line-height: clamp(2rem, 3vw, 3rem);
    }
}

.product-description {
    color: var(--darkGrayishBlue);
    font-size: clamp(0.938rem, 3vw, 1rem);
    line-height: 1.6rem;
}

/*-- COUNTER--*/
.counter {
    align-items: center;
    border: none;
    border-radius: 0.6rem;
    background-color: var(--lightGrayishBlue);
    flex-direction: row;
    flex-shrink: 1.5;
    font-weight: 700;
    justify-content: space-between;
    padding: $sp-1 $sp-2;
    width: 100%;

    button {
        padding: $sp-4;
    }
}

.purchase-controls { gap: $sp-4; }

#add-to-cart {
    align-items: center;
    color: inherit;
    flex-direction: row;
    gap: $sp-4;
    justify-content: center;
}

/*-- FILLED AND EMPTY--*/
.basket {
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 0.75rem 2rem hsla(0, 0%, 0%, 0.25);
    height: 15.5rem;
    left: 50%;
    position: absolute;
    top: 5rem;
    transform: translateX(-50%);
    width: 22.5rem;
    z-index: 2;

    h3 {
        font-size: $fs-base;
        line-height: $sp-5;
        padding: $sp-4 $sp-5 $sp-0;
    }

    hr {
        background-color: var(--grayishBlue);
        border: none;
        height: 0.005rem;
        padding-inline: $sp-6;
        margin-block: $sp-5 $sp-2;
    }

    div:first-child {
        flex-direction: row;
        gap: $sp-4;
        justify-content: space-between;
        align-items: center;
    }
}

.product {
    color: var(--darkGrayishBlue);
    gap: $sp-5;
    line-height: $sp-5;  
    padding: $sp-4 $sp-5 $sp-6;

    strong { color: black; }

    img {
        border-radius: 0.25rem;
        width: 3rem;
    }

    &.active {
        display: flex;
    }
}

.empty-message {
    color: var(--darkGrayishBlue);
    font-weight: 700;
    justify-self: center;

    &.active {
        display: block;
        margin-block: 5rem;
    }
}

.basket.active {
    display: block;
}

/*-- DESKTOP DEVICE --*/
@media screen and (min-width: 48rem) {

    .container { 
        display: grid;
        grid-template-rows: 7rem 0.063rem auto;
        grid-template-areas: 
        "header header"
        "divider divider"
        "main main";
        position: relative;
        padding-inline: $sp-4;
    }

    .header { 
        grid-area: header; 
        padding: $sp-0;
    }

    nav {
        height: 100%;
        padding: $sp-0;
        position: static;
        visibility: visible;
        z-index: 0;
    }

    .nav-links {
        align-items: center;
        flex-direction: row;
        height: 100%;

        a {
            color: var(--darkGrayishBlue);
            font-weight: 400;
            font-size: 0.938rem;

            &:hover {
                border-bottom: 0.25rem solid var(--orange);
                color: var(--orange);
                padding-bottom: 2.65rem;
            }
        }
    }

    .divider {
        background-color: var(--grayishBlue);
        border: none;
        display: block;
        grid-area: divider;
        height: 0.02rem;
    }

    main {
        align-items: center;
        display: grid;
        grid-area: main;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        margin: 1.75rem;
    }

    .wrapper { border-radius: 1rem; overflow: hidden;}

    .main-carousel { padding: $sp-5 1.125rem; }

    .carousel-thumbnails {
        display: flex;
        gap: $sp-5;
        opacity: 1;
        
        .thumbnail {
            border: 0.15rem solid transparent;
            border-radius: 0.75rem;
            overflow: hidden;
            position: relative;
    
            &.active { border-color: var(--orange); }
    
            &::before { @include color($color: var(--white)); }
    
            &:hover::before, &.active::before { opacity: 0.6; }
        }
    }

    .carousel-buttons { 
        display: none; 
        top: 47%; 
        &.next { right: -1.25rem; } &.prev { left:-1.25rem; }
    }

    .product-prices {
        align-items: flex-start;
        flex-direction: column;
        gap: $sp-3;
        margin-block-end: $sp-4;
    }

    .purchase-controls { flex-direction: row; }

    .basket {
        left: auto;
        right: 0;
        transform: none;
        top: 6rem;
    }

    .navigation-button {
        display: none;
    }
}