* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 0.75);
}

body {
  color: var(--veryDarkBlue);
  display: flex;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
}
body::before {
  content: "";
  background-color: var(--black);
  inset: 0;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}
body.dimmed::before {
  opacity: 1;
}

.container {
  position: relative;
  width: clamp(23.438rem, 100vw, 71rem);
}

img {
  display: block;
  height: auto;
  width: 100%;
}

li {
  list-style-type: none;
}

button, .thumbnail, .nav-links, .avatar-image, .carousel-slides {
  cursor: pointer;
}

.hidden {
  display: none;
}

/*-- BUTTONS--*/
button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  font: inherit;
}
button.primary-btn {
  background-color: var(--orange);
  border-radius: 0.6rem;
  font-weight: 700;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
button.primary-btn:hover {
  background-color: var(--paleOrange);
}

/*-- HEADER--*/
.header {
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.header .header-left, .header .header-right {
  align-items: center;
  flex-direction: row;
}

.logo {
  margin-bottom: 0.25rem;
}

.header-left {
  gap: clamp(1rem, 4vw, 3.5rem);
}

.header-right {
  gap: clamp(1rem, 3vw, 2.5rem);
}

.avatar-image {
  width: clamp(1.5rem, 4vw, 3rem);
}
.avatar-image:hover {
  border-radius: 50%;
  border: 0.1rem solid var(--orange);
  cursor: pointer;
}

.cart-icon {
  fill: var(--darkGrayishBlue);
  padding: 0.5rem;
  position: relative;
}

.cart-badge {
  background-color: var(--orange);
  border-radius: 1.5rem;
  color: var(--white);
  font-size: 0.688rem;
  padding: 0 0.4rem;
  position: absolute;
  right: 0;
  top: 0;
}
.cart-badge.active {
  display: block;
}

/*-- NAVIGATION--*/
nav {
  align-items: flex-start;
  background-color: var(--white);
  fill: var(--darkGrayishBlue);
  gap: 2.5rem;
  height: 100vh;
  left: 0;
  padding: 1.5rem 1.5rem 0 1.5rem;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 67%;
  z-index: 2;
}
nav.active {
  visibility: visible;
}

.nav-links {
  align-content: center;
  gap: 2rem;
}

.nav-link {
  color: inherit;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
}

/*-- CAROUSEL--*/
.main-carousel {
  gap: clamp(0rem, 3vw, 2rem);
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.carousel-buttons {
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  height: clamp(2.5rem, 5vw, 3.5rem);
  justify-content: center;
  margin-inline: 1rem;
  padding: 0.75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(2.5rem, 5vw, 3.5rem);
}
.carousel-buttons.next {
  right: 0;
}
.carousel-buttons.prev {
  left: 0;
}

.carousel-slides {
  border-radius: 0.5rem;
  flex-direction: row;
  transition: transform 0.3s ease;
  height: clamp(18.75rem, 50vw, 28rem);
}

.slide {
  flex-shrink: 0;
  width: 100%;
}
.slide img {
  height: 100%;
  object-fit: cover;
}

/*-- LIGHTBOX--*/
.lightbox {
  display: none;
}
.lightbox.active {
  align-items: flex-end;
  display: flex;
  gap: 1rem;
  inset: 0;
  justify-content: center;
  margin: auto;
  padding: 1.5rem;
  position: absolute;
  width: 50%;
  z-index: 2;
}
.lightbox .carousel-slides {
  height: auto;
}
.lightbox .carousel-thumbnails {
  align-self: center;
  margin-top: 1rem;
  width: 80%;
}
.lightbox .carousel-buttons {
  display: flex;
}

/*-- PRICING--*/
.product-prices {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.product-prices .discount-info {
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.product-prices .discount-info strong {
  font-size: 1.875rem;
}
.product-prices .percentage {
  background-color: black;
  border-radius: 0.25rem;
  color: var(--white);
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
}
.product-prices .original-price {
  color: var(--darkGrayishBlue);
  font-weight: 700;
}

.product-content {
  padding: 1.5rem;
  gap: 1.5rem;
}
.product-content .label {
  color: var(--darkGrayishBlue);
  text-transform: uppercase;
  font-size: clamp(0.75rem, 3vw, 0.813rem);
  font-weight: 700;
  letter-spacing: 0.12rem;
}

.product-details {
  gap: clamp(1rem, 3vw, 2rem);
}
.product-details div {
  gap: clamp(0.75rem, 3vw, 1rem);
}
.product-details h2 {
  margin-inline-end: 2rem;
  font-size: clamp(1.75rem, 3vw, 2.75rem);
  line-height: clamp(2rem, 3vw, 3rem);
}

.product-description {
  color: var(--darkGrayishBlue);
  font-size: clamp(0.938rem, 3vw, 1rem);
  line-height: 1.6rem;
}

/*-- COUNTER--*/
.counter {
  align-items: center;
  border: none;
  border-radius: 0.6rem;
  background-color: var(--lightGrayishBlue);
  flex-direction: row;
  flex-shrink: 1.5;
  font-weight: 700;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  width: 100%;
}
.counter button {
  padding: 1rem;
}

.purchase-controls {
  gap: 1rem;
}

#add-to-cart {
  align-items: center;
  color: inherit;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

/*-- FILLED AND EMPTY--*/
.basket {
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.75rem 2rem hsla(0, 0%, 0%, 0.25);
  height: 15.5rem;
  left: 50%;
  position: absolute;
  top: 5rem;
  transform: translateX(-50%);
  width: 22.5rem;
  z-index: 2;
}
.basket h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 1.5rem 0;
}
.basket hr {
  background-color: var(--grayishBlue);
  border: none;
  height: 0.005rem;
  padding-inline: 2rem;
  margin-block: 1.5rem 0.5rem;
}
.basket div:first-child {
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.product {
  color: var(--darkGrayishBlue);
  gap: 1.5rem;
  line-height: 1.5rem;
  padding: 1rem 1.5rem 2rem;
}
.product strong {
  color: black;
}
.product img {
  border-radius: 0.25rem;
  width: 3rem;
}
.product.active {
  display: flex;
}

.empty-message {
  color: var(--darkGrayishBlue);
  font-weight: 700;
  justify-self: center;
}
.empty-message.active {
  display: block;
  margin-block: 5rem;
}

.basket.active {
  display: block;
}

/*-- DESKTOP DEVICE --*/
@media screen and (min-width: 48rem) {
  .container {
    display: grid;
    grid-template-rows: 7rem 0.063rem auto;
    grid-template-areas: "header header" "divider divider" "main main";
    position: relative;
    padding-inline: 1rem;
  }
  .header {
    grid-area: header;
    padding: 0;
  }
  nav {
    height: 100%;
    padding: 0;
    position: static;
    visibility: visible;
    z-index: 0;
  }
  .nav-links {
    align-items: center;
    flex-direction: row;
    height: 100%;
  }
  .nav-link {
    color: var(--darkGrayishBlue);
    font-weight: 400;
    font-size: 0.938rem;
  }
  .nav-link:hover {
    border-bottom: 0.25rem solid var(--orange);
    color: var(--orange);
    padding-bottom: 2.65rem;
  }
  .divider {
    background-color: var(--grayishBlue);
    border: none;
    display: block;
    grid-area: divider;
    height: 0.02rem;
  }
  main {
    align-items: center;
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin: 1.75rem;
  }
  .wrapper {
    border-radius: 1rem;
    overflow: hidden;
  }
  .main-carousel {
    padding: 1.5rem 1.125rem;
  }
  .carousel-thumbnails {
    display: flex;
    gap: 1.5rem;
    opacity: 1;
  }
  .carousel-thumbnails .thumbnail {
    border: 0.15rem solid transparent;
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
  }
  .carousel-thumbnails .thumbnail.active {
    border-color: var(--orange);
  }
  .carousel-thumbnails .thumbnail::before {
    content: "";
    background-color: var(--white);
    inset: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
  }
  .carousel-thumbnails .thumbnail:hover::before, .carousel-thumbnails .thumbnail.active::before {
    opacity: 0.6;
  }
  .carousel-buttons {
    display: none;
    top: 47%;
  }
  .carousel-buttons.next {
    right: -1.25rem;
  }
  .carousel-buttons.prev {
    left: -1.25rem;
  }
  .product-prices {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
    margin-block-end: 1rem;
  }
  .purchase-controls {
    flex-direction: row;
  }
  .basket {
    left: auto;
    right: 0;
    transform: none;
    top: 6rem;
  }
  .navigation-button {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
