* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 15%);
}

body {
  color: var(--veryDarkBlue);
  display: flex;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  height: 100vh;
}

.container {
  position: relative;
  width: 23.438rem;
}
.container::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.container.dimmed::before {
  opacity: 1;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

li {
  list-style-type: none;
}

/*-- BUTTONS--*/
button {
  border: none;
  background-color: transparent;
  font: inherit;
  display: inline-flex;
}
button.primary-btn {
  justify-content: center;
  padding: 1rem;
  background-color: var(--orange);
  border-radius: 0.6rem;
  font-weight: 700;
  width: 100%;
}

/*-- HEADER--*/
.header {
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.header .header-left, .header .header-right {
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.header .logo {
  width: 8.5rem;
}
.header .avatar-image {
  width: clamp(1.75rem, 3vw, 3rem);
}
.header #cart-btn {
  position: relative;
  fill: var(--darkGrayishBlue);
  padding: 0.375rem;
}
.header #cart-btn #cart-badge {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white);
  font-size: 0.688rem;
  padding: 0rem 0.4rem;
  border-radius: 1.5rem;
  background-color: var(--orange);
}
.header #cart-btn #cart-badge.active {
  display: block;
}

.divider {
  display: none;
}

/*-- NAVIGATION--*/
nav {
  align-items: flex-start;
  background-color: var(--white);
  fill: var(--darkGrayishBlue);
  gap: 2.5rem;
  height: 100vh;
  left: 0;
  padding: 1.5rem 1.5rem 0 1.5rem;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 67%;
  z-index: 2;
}
nav.active {
  visibility: visible;
}
nav .nav-links {
  gap: 2rem;
}
nav .nav-links a {
  color: inherit;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
}

/*-- CAROUSEL--*/
.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.carousel .carousel-slides {
  flex-direction: row;
  transition: transform 0.4s ease;
}
.carousel .carousel-thumbnails {
  display: none;
}
.carousel .slide {
  flex-shrink: 0;
  width: 100%;
}
.carousel .slide img {
  height: 18.75rem;
  object-fit: cover;
}

.carousel-button {
  align-items: center;
  background-color: var(--white);
  border-radius: 100%;
  margin-inline: 1rem;
  padding: 0.75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
}
.carousel-button.next {
  right: 0rem;
}
.carousel-button.prev {
  left: 0rem;
}

.lightbox {
  display: none;
}

/*-- PRICING--*/
.product-prices {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.product-prices .discount-info {
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.product-prices .discount-info strong {
  font-size: 1.875rem;
}
.product-prices .percentage {
  background-color: black;
  border-radius: 0.25rem;
  color: var(--white);
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
}
.product-prices .original-price {
  color: var(--darkGrayishBlue);
  font-weight: 700;
}

.product-content {
  padding: 1.5rem;
  gap: 1.5rem;
}
.product-content .label {
  color: var(--darkGrayishBlue);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.12rem;
}
.product-content .product-details {
  gap: clamp(1rem, 3vw, 2rem);
}
.product-content .product-details div {
  gap: clamp(0.75rem, 3vw, 1rem);
}
.product-content .product-details h1 {
  margin-inline-end: 2rem;
  font-size: clamp(1.75rem, 3vw, 2.625rem);
  line-height: clamp(2rem, 3vw, 3rem);
}
.product-content .product-description {
  color: var(--darkGrayishBlue);
  font-size: 0.938rem;
  line-height: 1.6rem;
}

/*-- COUNTER--*/
.counter {
  border: none;
  border-radius: 0.6rem;
  background-color: var(--lightGrayishBlue);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  width: 100%;
  font-weight: 700;
}
.counter button {
  padding: 1rem;
}

form {
  gap: 1rem;
}

#add-to-cart {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  color: inherit;
  box-shadow: 0.1rem 0.5rem 1rem rgba(255, 125, 26, 0.5);
}

/*-- FILLED AND EMPTY--*/
.basket {
  display: none;
  position: absolute;
  background-color: var(--white);
  border-radius: 0.5rem;
  transform: translateX(2%) translateY(5%);
  z-index: 10;
  width: 22.5rem;
  box-shadow: 0 0.5rem 1rem var(--black);
  height: 15.5rem;
}
.basket h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 1.5rem 0;
}
.basket hr {
  background-color: var(--grayishBlue);
  border: none;
  height: 0.005rem;
  padding-inline: 2rem;
  margin-block: 1.5rem 0.5rem;
  width: auto;
}
.basket div:first-child {
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.basket .cart-item, .basket .empty-message {
  display: none;
  color: var(--darkGrayishBlue);
  line-height: 1.5rem;
  gap: 1.5rem;
  padding: 1rem 1.5rem 2rem;
}
.basket .cart-item strong, .basket .empty-message strong {
  color: black;
}
.basket .cart-item img, .basket .empty-message img {
  width: 3rem;
  border-radius: 0.25rem;
}
.basket .cart-item.active, .basket .empty-message.active {
  display: flex;
}
.basket .empty-message {
  display: none;
  justify-self: center;
  font-weight: 700;
}
.basket .empty-message.active {
  display: flex;
}

.basket.active {
  display: block;
}

/*-- DESKTOP DEVICE --*/
@media screen and (min-width: 48rem) {
  .container {
    display: grid;
    grid-template-rows: 7rem 0.063rem auto;
    grid-template-areas: "header header" "divider divider" "main main";
    position: relative;
    width: 68rem;
  }
  .header {
    grid-area: header;
    padding: 0;
  }
  .header .navigation-button {
    display: none;
  }
  .header .header-left {
    gap: 3rem;
  }
  .header .nav-links {
    flex-direction: row;
    height: 100%;
  }
  .header .nav-links li {
    align-content: center;
    border-bottom: 0.25rem solid var(--orange);
  }
  .header .nav-links a {
    font-weight: 400;
    font-size: 0.938rem;
  }
  .header nav {
    width: auto;
    visibility: visible;
    background-color: transparent;
    position: static;
    height: 100%;
    padding: 0;
  }
  .header nav .close-btn {
    display: none;
  }
  main {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
    margin: 1rem;
  }
  .divider {
    grid-area: divider;
    display: block;
    border: none;
    height: 0.063rem;
    background-color: var(--grayishBlue);
  }
  .product-container {
    padding: 1.5rem;
  }
  .product-container .carousel {
    gap: 2rem;
  }
  .product-container .carousel .carousel-thumbnails {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .product-container .carousel .carousel-slides {
    border-radius: 0.75rem;
  }
  .product-container .carousel img {
    border-radius: 0.75rem;
    height: 100%;
  }
  .product-container .carousel .carousel-button {
    display: none;
  }
  .product-content {
    padding: 1.5rem;
  }
  .product-content .product-prices {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75rem;
    margin-bottom: 1rem;
  }
  .form {
    flex-direction: row;
  }
  .form .counter {
    width: 55%;
  }
  .basket {
    right: -3rem;
    top: 5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
